body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }

 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
    display: inline;
    color: #0000ff;
    border: solid 1px #000000;
    border-radius:  5px;
    padding: 5px;
    background-color: lightblue;

 }

 nav li{
   text-decoration: none;
 }
 
 img{
   display: inline-block;
   border: solid 3px lightblue;
   padding: 5px;
 }

 p{
   text-align: left;
   background-image: linear-gradient(lightblue, white);
 }

 .gallery{
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  border: 5px solid lightblue;

 }

 .gallery img{
  width: -webkit-fill-available;
  border: 5px solid lightblue;
  margin: 10px;
 }

 .gallery img:last-child{
  grid-column: 1/-1;
}