body {
    font-family:'Courier New', 'Times New Roman', Impact;
    line-height: 1.15;
    color: lightgray;
    background-color: darkgray; 
    font-size: 38px;
    margin: 5px;
    padding: 5px;
}

img{
    border: dotted 5px #CC00AA;
    width: 24%;
    padding: 10px;
    margin: none;
    
}

h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 
a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

li{
    border:solid 25px red;
    border-radius: 25px;
    background-color: red;
    margin: 10px;
    width: 25%;
    
    

}

ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
    border: black 5px solid;
    

 }
 